[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
django = "*"
djangorestframework = "*"
django-environ = "*"
django-extensions = "*"
django-filter = "*"
pillow = "*"
django-cleanup = "*"
coreapi = "*"
djangorestframework-camel-case = "*"
six = "*"

[requires]
python_version = "3.7"
